.address {
    margin-top: 20px;
    font-weight: 400;
    line-height: var(--secondary-line-height);
  }

  .address__post {
    display: block;

    margin-bottom: 8px;

    color: var(--tertiary-color-text);
    font-style: normal;

    // Desktop
    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    } 
  }
  
  
  .address__contact {
    display: block;

    padding-right: 0px;
    
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--accent-color);
  }  
}
  

  