.contact {
    display: none;
    // margin-top: 0px;
    // margin-bottom: 0px;
    // margin-left: auto;
    // padding-left: 0px;

    @media screen and (min-width: 768px) {
      display: block;
      }  
    
    @media screen and (min-width: 1200px) {
    display: flex;
    }  
  

  }
  
.contact__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
    margin-bottom: 10px;
    }

    @media screen and (min-width: 1200px) {
      &:not(:last-child) {
        margin-bottom: 0px;
        margin-right: 30px;
        }
    }  
}
  
.contact__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
   
    color: var(--primary-color-text);
    font-weight: var(--primary-font-weight);
    line-height: var(--primary-line-height);
    letter-spacing: 0.02em;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    @media screen and (min-width: 1200px) {
     padding-top: 32px;
      padding-bottom: 32px;

    }
}
  
.contact__icon {
    display: block;
    fill: currentColor;
    margin-right: 10px;
  }
  