.logo {
    display: inline-block;
  
    color: var(--fourth-color-text);
    font-family: Raleway, sans-serif;
    font-weight: var(--secondary-font-weight);

    font-size: 24px;
    line-height: var(--primary-line-height);

    @media screen and (min-width: 1200px) {
  
    font-size: 26px;
  }  

    
    &__span {
      color: var(--accent-color);
    }
  }
  
  .logo--padding {
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }  

  @media screen and (min-width:1200px){
    padding-top: 24px;
    padding-bottom: 25px;

    
  }
  }
  
  .logo--color {
    color: var(--tertiary-color-text);
  }
  
  