.customer__list {
    display: flex;

    margin: -15px;
    padding-left: 0px;

  //Tablet 
    @media screen and (max-width: 1199px) {   
      flex-wrap: wrap;
    }
  }
  
  .customer__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;

  //Tablet
  @media screen and (min-width: 768px) {
    width: calc((100% - 6 * 15px) / 3);
  } 
  //Desktop
   @media screen and (min-width: 768px) {
    width: calc((100% - 6 * 15px) / 3);
  } 
  
  }
  
  .customer__link {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 210px;
    height: 92px;
  
    color: var(--primary-color-logo);
    border: 1px solid #afb1b8;
    border-radius: 4px;
    cursor: pointer;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        border-color: var(--accent-color);
        color: var(--accent-color);
        outline: transparent;
      }


      
    //Tablet
      @media screen and (min-width: 768px) {
        max-width: 226px;
      }
    //Desktop
    @media screen and (min-width: 1200px) {
      width: 170px;
  } 
}
    
    .customer__logo {
    fill: currentColor;
 }
  