.footer-form {
  
  @media screen and (max-width: 1200px) {
    margin-top: 60px;
  }
  // Desktop
  @media screen and (min-width: 1200px) {
     margin-left: 93px;
     display: inline-block;
  }
}
  
  .footer-form__label {
    // width: 207px;
    // padding: 0px;
    
    font-weight: var(--secondary-font-weight);
    line-height: var(--primary-line-height);
    text-transform: uppercase;
    color: var(--tertiary-color-text);
  }
  
  .footer-form__input {
    width: 100%;
  
    padding: 15px 16px;
    margin-top: 20px;
  
    font-size: 16px;
    line-height: 1.3;
  
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--tertiary-background-page);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    // Tablet
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 450px;
    }
    
    // Desktop
    @media screen and (min-width: 1200px) {
      width: 358px;
    }
 
  }
  
  .footer-form__input::placeholder {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.3;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .footer-form__wraper {
  
  // Desktop
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: flex-end;
      }    
  }
  
  
  .footer-form__button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
 
    padding: 0px;
    width: 200px;
    height: 50px;
  
    font-weight: var(--secondary-font-weight);
    font-size: var(--primary-font-size);
    line-height: 2;
    letter-spacing: 0.06em;
    cursor: pointer;
  
    color: var(--tertiary-color-text);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    // Desktop
    @media screen and (min-width: 1200px) {
      margin-left: 12px;
    }  
  }
  
  .footer-form__button:hover,
  .footer-form__button:focus {
    background-color: var(--secondary-accent-color);
    outline: none;
  }
  
  .footer-form__icon {
    margin-left: 10px;
  }
  