header {
    border-bottom: 1px solid #ececec;

  }
  
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
.container--flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
}

// .nav__menu {
//   position: absolute;
//   padding: 15px;
//   width: 90%;
//   top: 0%;
//   font-size: 20px;

//   background-color: var(--primary-background-page);
//   outline: red solid 2px;
// }