
.hero {
    max-width: 480px;
    max-height: 400px;

    padding-top: 118px;
    padding-bottom: 118px;

    margin-left: auto;
    margin-right: auto;


    text-align: center;
    background-color: #c4c4c4;
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    
    url(../images/decoration-img/hero-mobile.jpg);
    background-size: cover;



    // retina
      @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
          url(../images/decoration-img/hero-mobile@2x.jpg);
      }
    }

  //   // Tablet
      @media screen and (min-width: 768px) {
      max-width: 768px;

      background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      
      url(../images/decoration-img/hero-tablet.jpg);
      background-size: cover;
    }  
    // retina
      @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
      background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/decoration-img/hero-tablet@2x.jpg);
    }
  }

    // Desktop
    @media screen and (min-width: 1200px) {
      max-width: 1600px;
      max-height: 600px;

      padding-top: 200px;
      padding-bottom: 200px;
  
      background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      
      url(../images/decoration-img/hero-desktop.jpg);
      background-size: cover;
    }  

  // retina
      @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
      background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/decoration-img/hero-desktop@2x.jpg);
    }
  }

}  

  .hero__title {
    display: block;
    max-width: 360px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;

  
    color: var(--tertiary-color-text);
    font-weight: var(--tertiary-font-weight);
    font-size: 26px;
    line-height: var(--tertiary-line-height);

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    // Tablet
    @media screen and (min-width: 1200px) {
    
    font-size: 44px;
    line-height: 1.36;    
    }
    // desktop
    @media screen and (min-width: 1200px) {
    
      max-width: 696px;
      max-height: 120px;
      }
  
  }
  
  .hero__button {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
  
    color: var(--tertiary-color-text);
    background-color: var(--accent-color);
    font-weight: var(--secondary-font-weight);
    font-size: var(--primary-font-size);
    line-height: 1.9;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border-color: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--secondary-accent-color);
    }
  
  }
  
  