.social-network {
    display: flex;
    justify-content: center;
  }
  
  .social-network__item {
    width: 44px;
    height: 44px;
    margin-right: 10px;

    border-radius: 50%;
    color: var(--primary-color-logo);
  }
  
  .social-network__item--background {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .social-network__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
  
    border-radius: 50%;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        background-color: var(--accent-color);
        color: var(--tertiary-color-text);
      }
      
      &:focus {
        outline: transparent;
      }
    
  }
  
  .social-network__link--color {
    color: currentColor;
  }

  .social-network__link--fill {
    fill: var(--tertiary-color-text);
  }

  
  .social-network__icon {
    fill: currentColor;
  }
  
// Mobil
  .social-network--container {
    position: absolute;
    bottom: 48px;
    left: 40px;
    
    display: flex;
    gap: 20px;

    color: var(--accent-color);
  }


  .social-network__link--container {
    font-weight: var(--primary-font-weight);
    font-size: 18px;

    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    
  }